:root {
  --rosewater: #f5e0dc;
  --flamingo: #f2cdcd;
  --pink: #f5c2e7;
  --mauve: #cba6f7;
  --red: #f38ba8;
  --maroon: #eba0ac;
  --peach: #fab387;
  --yellow: #f9e2af;
  --green: #a6e3a1;
  --teal: #94e2d5;
  --sky: #89dceb;
  --sapphire: #74c7ec;
  --blue: #89b4fa;
  --lavender: #b4befe;
  --text: #cdd6f4;
  --subtext1: #bac2de;
  --subtext0: #a6adc8;
  --overlay2: #9399b2;
  --overlay1: #7f849c;
  --overlay0: #6c7086;
  --surface2: #585b70;
  --surface1: #45475a;
  --surface0: #313244;
  --base: #1e1e2e;
  --mantle: #181825;
  --crust: #11111b;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--base);
  color: var(--text);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

h1 {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

input,
button {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

input {
  width: 100%;
  max-width: 300px;
  background-color: var(--surface1);
  color: var(--text);
}

button {
  background-color: var(--mauve);
  color: var(--crust);
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: var(--sky);
}

#result {
  font-size: 18px;
  text-align: center;
}

.green {
  color: var(--green);
}

.red {
  color: var(--red);
}
